body {
    background: url(../assets/background.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    aspect-ratio: 1/1;
    width: 60vh;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10%;    
    transition: .1s ease-in;
}

img:active {
    transform: scale(.95);
}

#points {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 47px;
    margin-top: 80px;
}

@media (max-width: 760px) {
    .backBtn {
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 520px) {
    img {
        width: 40vh;
    }
}